{{context.getHeader()}}
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: {{namespace}}

####################### Manifest for service {{serviceName}}


"secretGenerator": [
{%- for serviceName, serviceNode in services.items() -%}
  {%- if 'persistence' in serviceNode and 'postgresDatabase' in serviceNode.persistence: -%}
    {%- set db = serviceNode.persistence.postgresDatabase -%}
    {%- set suffix = context.iif( 'dbSuffix' in db, db['dbSuffix'], '-db' ) -%}
    {%- set pg_user = "".join([serviceName, "-user"]) -%}
    {%- set pg_database = "".join([serviceName, suffix]) %}
    {%- set pg_password = context.generatePassword() -%}
      {
        "name": "{{serviceName}}{{suffix}}-secrets",
        "options": {
          "disableNameSuffixHash": true
        },
        {# "literals": [ "POSTGRES_DB=xperience", "POSTGRES_USER=postgres",  "POSTGRES_PASSWORD=admin" ] #}
        "literals": [ 
          "POSTGRES_DB={{serviceName}}{{suffix}}", "POSTGRES_USER={{pg_user}}",  "POSTGRES_PASSWORD={{pg_password}}",
          "JDBC_CONNECTION_STRING=jdbc:postgresql://{{serviceName}}{{suffix}}.{{namespace}}.svc.cluster.local:5432/{{pg_database}}",
          {# conteuneurs dotnet #}
          "DOTNET_CONNECTION_STRING=User ID={{pg_user}};Password={{pg_password}};Host={{serviceName}}{{suffix}}.{{namespace}}.svc.cluster.local;Port=5432;Database={{pg_database}};Pooling=true;Connection Lifetime=0;",
        ]
      },
  {% endif %}
{% endfor %}
  ]

resources:
  - postgres-ceph.yaml